<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
				  {% for item in site.data.navigation %}
					<li><a href="{{ item.link }}"  {% if page.url == item.link and page.url !='/' %} style="color:black;" {% endif %} > {{ item.name }} </a></li>
				  {% endfor %}
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:laurent.mackay@mail.mcgill.com">email</a></li>
	        		<li><a href="https://github.com/laurentmackay">github.com/laurentmackay</a></li>
				</ul>
			</footer>
		</body>
	</html>
